{% extends 'base.html' %}
{% block content %}
<h1 class="mt-4 mb-4">About us 👨🏻‍💻</h1>
<h2>Job Application Form 📩</h2>

<p>Thank you for your interest in joining our team! We are excited to learn more about you and explore the possibilities of working together. Please complete the following job application form to provide us with the necessary information.
<br><br>
Instructions:
<br><br>
• Fill out all the required fields.<br>
• Make sure to provide accurate and up-to-date information.<br>
• Feel free to include any additional details that you believe will help us understand your qualifications and experience better.<br>
• If you encounter any issues or have questions, don't hesitate to reach out to our [contact email/phone].<br><br>

We appreciate the time and effort you invest in completing this form. Your application is important to us, and we look forward to getting to know you better.<br>

Best of luck in your job application journey! 🫶🏻
</p>

{% endblock %}